    input:not([type=checkbox]):not([type=radio]), select, textarea {
        width: 100%;
    }

    .label {
        display: block;
        font-weight: 600;
        padding-top: 12px;
        padding-bottom: 4px;
    }
