
    <h1 class="display-4 first-header">Godkännande av rekrytering/inhyrning</h1>

    <h2>TJÄNSTEMAN</h2>

    <div class="paragraph-wrapper">
        <ul>
            <li>
                Äskandenummer (se ovan) fylls ALLTID i, i rutan avsedd för detta på nytt anställningsbevis/avtal till Löneavdelningen.
            </li>
        </ul>
        <p>
            Innan en befattning tillsätts så är det av största vikt att en grundlig genomgång av enhetens arbete görs, för att pröva om arbetsuppgifterna kan fördelas ut på redan befintlig personal. När ovanstående är gjort och visar att en rekrytering är nödvändig för att säkerställa kvaliteten i enhetens arbete gentemot externa och interna kunder och inom ramen för årets budget och enhetens resultat skall denna blankett fyllas i, se Personalhandboken kapitel 4.3.
        </p>
        <p>
            Tidsbegränsade anställningar/inhyrningar med kortare anställningstid/inhyrningstid än 14 dagar är undantagna från äskandeprocessen.
        </p>
   
    </div>



    <form ngNativeValidate (ngSubmit)="onSubmit(form)" #form="ngForm">
        <input type="hidden" [(ngModel)]="formName"  name="myForm.FormName" value="Ändring av address"/>
        <div class="row">
            <div class="col-md-12">
                <h4>Ansökan</h4>
                <div class="form-section">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="block-label">Ärende</label>
                            <div>
                                <label class="radio-container">
                                    Ersättningsrekrtytering
                                    <input type="radio" checked="checked" value="Ersättningsrekrtytering"  [ngModel] name="myForm.TypeOfRecruitment">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">
                                    Utökning av tjänst
                                    <input type="radio" value="Utökning av tjänst"  [ngModel] name="myForm.TypeOfRecruitment">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">
                                    Inhyrning
                                    <input type="radio" value="Inhyrning"  [ngModel] name="myForm.TypeOfRecruitment">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Enhet </label>
                            <input class="form-control"  [ngModel] name="myForm.Unit" type="text" value="" />
                        </div>
                        <div class="form-group col-md-3">
                            <label class="normal">Ort </label>
                            <input class="form-control"  [ngModel] name="myForm.City" type="text" value="" />
                        </div>
                        <div class="form-group col-md-3">
                            <label>Kostnadsställe</label><br />
                            <input class="form-control"  [ngModel] name="myForm.CostCenter" type="text" value="" />
                        </div>
                        <div class="form-group col-md-3">
                            <label id="approvalOfRecruitment_position" data-tippy-content="Ett godkännande per tjänst">Befattning *</label>
                            <input class="form-control"   [ngModel] name="myForm.position" type="text" value="" />
                        </div>

                        <div class="form-group col-md-3">
                            <label>Efterträdare till</label>
                            <input class="form-control"  [ngModel] name="myForm.NameOfCurrentPositionHolder" type="text" value="" required />
                        </div>
                        <div class="form-group col-md-3">
                            <label id="approvalOfRecruitment_candidatesname" data-tippy-content="Lämna fältet tomt om förslag ej finns">Namn på kandidat </label>
                            <input class="form-control"  [ngModel] name="myForm.CandidatesName" type="number" value=""/>
                        </div>
                        <div class="form-group col-md-6">
                            <label id="salaryRange">Lönekostnad/år exkl. social avg. *</label>

                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="Från"  [ngModel] name="myForm.LaborCostsFrom" type="number" value="" />
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="Till"  [ngModel] name="myForm.LaborCostsTo" type="number" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="block-label">Bonusberättigad</label>
                            <div>
                                <label class="radio-container">
                                    Ja
                                    <input type="radio" checked="checked" value="Ja"  [ngModel] name="myForm.BonusApproved">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">
                                    Nej
                                    <input type="radio" value="Nej"  [ngModel] name="myForm.BonusApproved">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Bonusens storlek</label><br />
                            <input class="form-control"  [ngModel] name="myForm.BonusAmount" type="number" value="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6 gutter-fix">
                <h4>Tjänstebil</h4>
                <div class="form-section">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label class="block-label">Tjänste/Förmånsbil ingår i tjänsten</label>
                            <div>
                                <label class="radio-container">
                                    Ja
                                    <input type="radio" checked="checked" value="Ja"  [ngModel] name="myForm.CompanyCar">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">
                                    Nej
                                    <input type="radio" value="Nej"  [ngModel] name="myForm.CompanyCar">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="block-label">Grupp</label>
                            <input class="form-control"  [ngModel] name="myForm.CompanyCarGroup" type="number" value="" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 gutter-fix">
                <h4>Motivering</h4>
                <div class="form-section">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label id="justificationWhiteCollar">Skriftlig motivering för rekrytering<span title="Denna fråga är obligatorisk" class="custom-required">&nbsp;*</span></label>
                            <p><i>
                                (vid tidsbegränsad anställning/inhyrning – ange också vilket tidsintervall som avses)
                                (OBS! Vid lönespann överstigande 100,000 EURO/år ska motiveringen skrivas på ENGELSKA!)
                            </i></p>
                            <textarea class="form-control"  [ngModel] name="myForm.Justification" type="text" value="" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="action-row">
            <button type="submit"  class="btn custom-button mb-2">Skicka formulär</button>

        </div>
    </form>






