
        <h1 class="display-4 first-header">Kundupplägg - CIEL ändring</h1>
        <form ngNativeValidate (ngSubmit)="onSubmit(form)" #form="ngForm">
            <input type="hidden" [(ngModel)]="formName" name="FormName" />
            <div class="row no-gutters">
                <div class="col-md-6 gutter-fix">
                    <h4>Avsändare</h4>
                    <div class="form-section">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Förnamn<span title="Denna fråga är obligatorisk" class="custom-required">&nbsp;*</span></label>
                                <input class="form-control" [ngModel] name="FirstName" type="text" value="" required />
                            </div>

                            <div class="form-group col-md-6">
                                <label class="normal">Efternamn</label>
                                <input class="form-control " [ngModel] name="LastName" type="text" value="" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="normal">Telefon</label>
                                <input class="form-control " [ngModel] name="Telephone" title="" type="tel" value="" required />
                            </div>
                            <div class="frorm-group col-md-6">
                                <label class="normal">E-post<span title="Denna fråga är obligatorisk" class="custom-required">&nbsp;*</span></label>
                                <input class="form-control " [ngModel] name="Email" type="email" value="" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 gutter-fix">
                    <h4>Kund</h4>
                    <div class="form-section">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Organisationsnummer<span title="Denna fråga är obligatorisk" class="custom-required">&nbsp;*</span></label>
                                <input class="form-control" [ngModel] name="OrgNumber" type="text" value="" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Kundnamn</label>
                                <input class="form-control" [ngModel] name="CustomerName" type="text" value=""  />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Kundnummer</label>
                                <input class="form-control" [ngModel] name="CustomerNumber" type="text" value=""  />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <h4>Adress</h4>
                    <div class="form-section">

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Gatuadress</label>
                                <input class="form-control" [ngModel] name="StreetAddress" type="text" value="" />
                            </div>
                            <div class="form-group col-md-4">

                                <label class="normal">Postnummer</label>
                                <input class="form-control" [ngModel] name="PostalCode" type="text" value="" />
                            </div>

                            <div class="form-group col-md-4">
                                <label>Ort</label><br />
                                <input class="form-control" [ngModel] name="City" type="text" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>Fakturaadress</h4>
                    <div class="form-section">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>Fakturaadress</label>
                                <input class="form-control" [ngModel] name="BillingAddress" type="text" value="" />
                            </div>

                            <div class="form-group col-md-3">
                                <label>Postnummer</label><br />
                                <input class="form-control" [ngModel] name="BillingPostalCode" type="number" value="" />
                            </div>

                            <div class="form-group col-md-3">
                                <label>Ort</label><br />
                                <input class="form-control" [ngModel] name="BillingCity" type="text" value="" />
                            </div>
                            <div class="form-group col-md-3">
                                <label>Ny C/O</label><br />
                                <input class="form-control" [ngModel] name="MewCO" type="text" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-section">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>PDF adress</label>
                                <input class="form-control" [ngModel] name="PDF-adress" type="text" value="" />
                            </div>

                            <div class="form-group col-md-6">
                                <label>Övrigt</label>
                                <textarea class="form-control" [ngModel] name="Other" maxlength="4000" title="" type="text" value=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="action-row">
                <button type="submit"  class="btn custom-button mb-2">Skicka formulär</button> 
            </div>
        </form>
