<h1>Form 1</h1>


<form ngNativeValidate  #form (ngSubmit)="onSubmit(formValues)">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ui-text-input label="Name" name="Name">
        </ui-text-input>

      </div>
      <div class="col-md-6">
        <ui-text-input  type="number" required="true"
          errorMessage="Detta fältet är obligatoriskt" label="Phone Number" name="Phone">
        </ui-text-input>
      </div>
      <div class="col-md-6">
        <ui-text-input  type="number" required="true"
          errorMessage="Detta fältet är obligatoriskt" label="Cool Number" name="Cool number">
        </ui-text-input>
      </div>
    </div>
 

  <div class="row">
    <div class="col-md-6">
      <ui-textarea required="true" (eventValue)="valueEventHandler($event)" name="lök"
        label="Please, tell us about yourself">
      </ui-textarea>
    </div>
    <div class="col-md-6">

      <ui-textarea required="true" (eventValue)="valueEventHandler($event)" name="Skriv om dig själv"
        label="Please, tell us about yourself">
      </ui-textarea>
    </div>

  </div>


<div class="row">
  <div class="col-md-6">  <ui-datepicker required="true" (eventValue)="valueEventHandler($event)" name="date" label="Pick any date"></ui-datepicker>
  </div>
  <div class="col-md-6">  <ui-datepicker (eventValue)="valueEventHandler($event)" name="datetime" label="Pick any date"></ui-datepicker>
  </div>
  <div class="col-md-6">
    <ui-radio-button required="true" (eventValue)="valueEventHandler($event)" name="Yes or No?" label="Yes or No?" [items]="[
    {
      name: '1',
    value: 'Yes',
    id: '1',
    label: 'Ja'},  {
      name: '1',
      value: 'No',
      id: '2',
      label: 'Nej'
  }]"></ui-radio-button>
  </div>
  <div class="col-md-6">
    <ui-radio-button (eventValue)="valueEventHandler($event)" name="Do you like fish?" label="Do you hate snakes?"
    [items]="[
  {
    name: '3',
  value: 'Yes please',
  id: '4',
  label: 'kanske'},  {
    name: '4',
    value: 'No, shut up',
    id: '5',
    label: 'vet inte...'
}]"></ui-radio-button>
  </div>
</div>


<div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
    
 
  
  </div>
  <div class="col-md-6">
    
  <ui-select required="true" (eventValue)="valueEventHandler($event)" name="Favorite Band"
  [items]="['Bowling With Friends', 'Kinky CoCoons', 'Kulturtanterna', 'RAZZIA EL ORDINADOR']" for="bands"
  label="Choose your favorite band"></ui-select>
  </div>
  <div class="col-md-6">
    <ui-select  (eventValue)="valueEventHandler($event)" name="Your Favorite Band"
    [items]="['Bowling With Friends', 'Kinky CoCoons', 'Kulturtanterna', 'RAZZIA EL ORDINADOR']" for="bands"
    label="Choose your favorite band"></ui-select>
  </div>
</div>
  <div class="action-row">
    <button [disabled]="sendingFormData" type="submit">Send form</button>
  </div>
</div>









</form>