<ui-form label="Ett formulär">
  <ui-textarea #item name="About me" label="About you my friend" required="true"></ui-textarea>
  <ui-select name="Coolaste bandet" [items]="['Bowling with Friends', 'Kottarna', 'Death From Above 1979']"
    label="Coolaste bandet"></ui-select>
  <ui-radio-button label="Välj din favorit" name="favvodjur"
    [items]="[{label: 'Katt', name: 'favvodjur'}, {label: 'Hund', name: 'favvodjur'}]"></ui-radio-button>
  <ui-radio-button [required]="true" label="Vill du ha löneökning?" name="mer pengar i fickan"
    [items]="[{label: 'Ja', name: 'merpenger'}, {label: 'Nej', name: 'merpenger'}]"></ui-radio-button>
  <ui-text-input name="Years?" label="How old are you?" type="number" required="true"></ui-text-input>
  <ui-checkbox id="7" name="katt" label="Vilka djur föredrar du?" checkboxLabel="Katt"></ui-checkbox>
  <ui-checkbox id="fox" name="räv" checkboxLabel="räv"></ui-checkbox>
  <ui-checkbox id="fox" name="hermelin" checkboxLabel="Hermelin"></ui-checkbox>
</ui-form>