<h1 topHeader>Kundupplägg - adressändring</h1>
<ui-form>
  <div newRow>
    <div halfFormGroup>
      <h4>Avsändare</h4>
      <div formSection>
          <div formSectionRow>
              <div inputSection>
                <ui-radio-button label="Välj din favorit" name="favvodjur"
                [items]="[{label: 'Katt', name: 'favvodjur'}, {label: 'Hund', name: 'favvodjur'}]"></ui-radio-button>
              </div>
              <div inputSection>
                <ui-text-input  type="number" required="true"
                errorMessage="Detta fältet är obligatoriskt" label="Cool Number" name="Cool number">
              </ui-text-input>
              </div>
              <div inputSection>
                <ui-text-input name="email" label="Email" type="email"></ui-text-input>
              </div>
              <div inputSection>
                <ui-text-input name="Pohne" label="Telefonnummer" type="number"></ui-text-input>
              </div>
          </div>
      </div>
  </div>


    <div class="col-md-6 gutter-fix">
        <h4>Kund</h4>
        <div class="form-section">
            <div class="row">
                <div class="form-group col-md-6">
                  <ui-checkbox id="7" name="katt" label="Vilka djur föredrar du?" checkboxLabel="Katt"></ui-checkbox>
                  <ui-checkbox id="fox" name="räv" checkboxLabel="räv"></ui-checkbox>
                  <ui-checkbox id="fox" name="hermelin" checkboxLabel="Hermelin"></ui-checkbox>
                </div>
                <div class="form-group col-md-6">
                  <ui-text-input name="Family Name" label="Efternamn" type="text"></ui-text-input>
                </div>
                <div class="form-group col-md-6">
                  <ui-datepicker required="true" (eventValue)="valueEventHandler($event)" name="date" label="Pick any date"></ui-datepicker>
                </div>
                <div class="form-group col-md-6">
                  <ui-text-input name="Pohne" label="Telefonnummer" type="number"></ui-text-input>
                </div>
            </div>
        </div>
    </div>
  </div>
</ui-form>
